.login-section {
  display: flex;
  padding: 50px 0;
  width: 50%;
  margin: auto;
}
.input-box {
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .login-section {
    width: 100%;
  }
}
.register{
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-items: center;
  box-shadow: 3;
 margin: auto;
 padding: 10px;
}

@media screen and (max-width: 480px) {
  .register{
    width: 100%;
  }
  .login {
    width: 100%;
  }
}