.post-title {
  color: rgb(15, 157, 240);
}
.post-category {
  padding: 5px;
  width: 50%;
  border-radius: 5px;
  color: white;
  position: relative;
  top: -50px;
  left: 50%;
}
.post-description {
  height: 150px;
}
