.home-blog {
  background-image: linear-gradient(
    to right,
    #beccd4,
    #a9d6e4,
    #8ce0ec,
    #6debea,
    #54f4de
  );
  margin-bottom: 10px;
}
.post-title {
  color: rgb(15, 157, 240);
}
.post-category {
  padding: 5px;
  width: 50%;
  border-radius: 5px;
  color: white;
  position: relative;
  top: -50px;
  left: 50%;
}
.post-description {
  height: 150px;
}
