.swiper {
  width: 100%;
  height: 100%;
}
.carousel {
  background-image: linear-gradient(
    to bottom,
    #eff2f2,
    #cbedee,
    #a4e7ec,
    #73e0eb,
    #12d9eb
  );
  padding: 5px 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 80vh;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: center;
}
.title {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 20pt;
  font-family: "Noto Sans Bengali" !important;
}
@media only screen and (max-width: 991px) {
  .swiper-slide {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: 0 50px !important;
  }
}
@media only screen and (max-width: 480px) {
  .title {
    position: absolute;
    top: 70%;
    left: 0;
    transform: translate(-0%, -0%);
    color: rgb(229, 184, 11);
    font-weight: 900;
    font-size: 15pt;
    font-family: "Noto Sans Bengali" !important;
    padding: 10px 0;
  }
}
