.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  width: 100%;
  height: 90vh;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
@media only screen and (max-width: 991px) {
  .swiper-slide {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: 0 50px !important;
  }
}
