.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  object-fit: cover;
  object-position: center;

  width: 100%;
  height: 80vh;
}

.swiper-slide.title {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 20pt;
  font-family: "Mark Bold" !important;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
.carousel-title {
  margin-top: -50px;
}
@media only screen and (max-width: 991px) {
  .swiper-slide {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: 0 50px !important;
  }
}
