.timer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.timer span {
  font-size: 3em;
}

.event-date {
  background-color: rgb(235, 230, 230);
  text-align: center;
}
.event-date p {
  background-color: gainsboro;
  padding: 10px;
}
