label {
  text-align: start;
}
input[type="date"],
input[type="time"] {
  margin: 5px !important;
  border-radius: 8px;
  border: 1px solid #f0f5f7;
  padding: 5px 0;
  font-size: 15px;
  background: #f0f5f7;
  width: 500px !important;
  color: #696969;
  transition: all 0.3s ease-in-out 0s;
  box-shadow: none;
  height: 40px;
}

.blogs input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.blogs label {
  text-align: start;
  padding: 0;
  font-size: 17px;
  color: #202124;
  font-weight: 500;
  display: block;
}

.blogs .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  letter-spacing: 0;
  font-size: 15px;
  line-height: 2;
  border-radius: 8px;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.3s ease-in-out 0s;
}
.blogs .btn,
button {
  outline: none !important;
}
.blogs .btn__theme {
  color: #fff;
  background-color: #1967d2;
  border-color: #1967d2;
  width: 50%;
}

span.required {
  color: #f44336;
}
form.update__forms {
  border: 1px solid #1967d2;
  box-shadow: 0 6px 15px 0 rgb(64 79 104 / 5%);
  padding: 20px;
}
