.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown .timer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.countdown .timer {
  font-size: 46px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown .timer span {
  font-size: 16px;
  color: #444;
}

.countdown .semicolon {
  font-size: 36px;
}
@media only screen and (max-width: 480px) {
  .countdown .timer {
    font-size: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .countdown .timer span {
    font-size: 10px;
    color: #444;
  }
}
