.member-form {
  background: #0e101c;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 50px 0;
  margin-bottom: 20px;
}

.member-form form {
  max-width: 90%;
  margin: 0 auto;
}

.member-form h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}

.member-form p {
  color: #bf1650;
}

.member-form p::before {
  display: inline;
  content: "⚠ ";
}

.member-form input,
select {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.member-form label {
  display: block;
  line-height: 2;
  text-align: left;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}
.member-form input[type="file"] {
  color: white;
}
.member-form button[type="submit"],
.member-form input[type="submit"] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin: 40px 0;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

.member-form button[type="submit"]:hover,
.member-form input[type="submit"]:hover {
  background: #bf1650;
}

.member-form button[type="submit"]:active,
.member-form input[type="button"]:active,
.member-form input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.member-form input:disabled {
  opacity: 0.4;
}

.member-form input[type="button"]:hover {
  transition: 0.3s all;
}

.member-form button[type="submit"],
.member-form input[type="button"],
.member-form input[type="submit"] {
  -webkit-appearance: none;
}

.member-form button[type="button"] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}
.member-form .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.member-form hr {
  margin-top: 30px;
}

.member-form button {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

@media screen and (max-width: 480px) {
  .member-form .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
